.card .card-action {
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    position: relative;
    padding: 16px 24px;
  }
  
  .card .card-action:last-child {
    border-radius: 0 0 2px 2px;
  }
  
  .card .card-action h4:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #ffab40;
    margin-right: 24px; 
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
  }
  
  .card .card-action h4:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #ffd8a6;
  }
  
  .card .card-action button:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #ffab40;
    margin-right: 24px; 
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
    
  }
  
  .card .card-action button:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #ffd8a6;
  }